<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinu.automator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:required="true" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyATELM4it7M2mdKT4Pgfg_yAWHq30oidEE" />

        <service android:name="com.dinu.automator.locatorService" />
        <service android:name="com.littlefluffytoys.littlefluffylocationlibrary.LocationBroadcastService" />

        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.StartupBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.littlefluffytoys.littlefluffylocationlibrary.PassiveLocationChangedReceiver"
            android:exported="true" />

        <activity
            android:name="com.dinu.automator.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppSplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dinu.automator.activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.dinu.automator.activity.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.dinu.automator.activity.SmsActivity"
            android:label="@string/title_activity_sms" >
        </activity>
        <activity
            android:name="com.dinu.automator.activity.AlarmActivity"
            android:label="@string/title_activity_alarm" >
        </activity>
        <activity
            android:name="com.dinu.automator.activity.LocatorActivity"
            android:label="@string/title_activity_locator" >
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.dinu.automator.activity.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.dinu.automator.activity.ProfileSettingsActivity"
            android:label="@string/title_activity_profile_settings"
            android:theme="@style/Theme.VPI" >
        </activity>
        <activity
            android:name="com.dinu.automator.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name="com.dinu.automator.activity.SmsSettingsActivity"
            android:label="@string/title_activity_sms_settings" >
        </activity>
        <activity
            android:name="com.dinu.automator.activity.ContactPickerActivity"
            android:label="@string/title_activity_contact_picker" >
        </activity>
        <activity
            android:name="com.dinu.automator.activity.AlarmSettingsActivity"
            android:label="@string/title_activity_alarm_settings" >
        </activity>
    </application>

</manifest>